{% extends "layout.html" %}
{% block title %}Articles{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row my-3">
            <h2>{{ data[0][1] }} <small>Article #{{ data[0][0] }}</small></h2>
        </div>
        <div class="row d-flex justify-content-end">
            <h4>{{ data[0][3] }}</h4>
        </div>
        <div class="row d-flex justify-content-end">
            <h5>{{ data[0][4] }}</h5>
        </div>
        <div class="row bg-light my-3 px-5 py-5">
            {% for line in data[0][2].splitlines() %}
                {{line}}<br>
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-end">
            <a href="/articles" class="btn btn-primary mr-2">list</a>
            <a href="/articles/{{data[0][0]}}/edit" class="btn btn-primary mr-2">edit</a>
            <a href="/articles/{{data[0][0]}}/delete" class="btn btn-primary">delete</a>
        </div>
    </div>
{% endblock %}