{% extends "layout.html" %}
{% block title %}Articles{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row my-3">
            <h2>
                New Article
            </h2>
        </div>
        <div class="row">
            <form action="update" method="POST">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Title</th>
                            <td><input type="text" name="title" value="{{ data[0][1] }}" size='38'/></td>

                        </tr>
                        <tr>
                            <th scope="row">Content</th>
                            <td><textarea type="text" name="content" cols="40" rows="8" class="mt-1">{{ data[0][2] }}</textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Author</th>
                            <td><input type="text" name="author" value="{{ data[0][3] }}" size='38'/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>  
        </div>
    </div>
{% endblock %}