{% extends 'movies/base.html' %}
{% block title %}
    MovieList
{% endblock %}
{% block content %}
    <h1>Movie List</h1>
    {% if movies %}
        <div class="row mt-3">
            {% for movie in movies %}
                <div class="card col-4 mb-3">
                    <div class="card-body">
                        <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-light mb-3">
                            <strong>{{ movie.title }}</strong>
                        </a>
                        <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }} poster">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}