{% extends 'movies/base.html' %}
{% block title %}
    Update {{ movie.title }}
{% endblock %}
{% block content %}
    <h2>Update Movie</h2>
    <form method="POST" class="mt-5">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ movie.title }}">
        </div>
        <div class="form-group">
            <label for="audience">Audience</label>
            <input type="text" class="form-control" id="audience" name="audience" value="{{ movie.audience }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{% for foo in movie.description.splitlines %}{{ foo }}
{% endfor %}</textarea>
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" name="genre">
                {% for genre in genres %}
                    {% if genre.id == movie.genre_id %}
                        <option value="{{ genre.id }}" selected>{{ genre.name }}</option>
                    {% else %}
                        <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="poster_url">Poster url</label>
            <input type="text" class="form-control" id="poster_url" name="poster_url" value="{{ movie.poster_url }}">
        </div>
        <input type="submit" class="btn btn-outline-dark" value="submit">
    </form>
{% endblock %}