{% extends "layout.html" %}
{% block title %}Articles{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row my-3">
            <h1>My Blog</h1>
        </div>
        <div class="row d-flex justify-content-end mb-5 mr-2">
            <a href="articles/new" class="btn btn-primary"> New Post </a>
        </div>
        {% for item in data %}
        <div class="row mx-2">
            <a href="articles/{{item[0]}}" style="color:black; width:100%">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ item[1] }}
                    </div>
                    <div>
                        {{ item[4] }}
                    </div>
                </div>
            </a>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}