{% extends 'layout.html' %}
{% block title %} Main Page{% endblock %}
{% block content %}
    <nav class="navbar navbar-light mt-2 bg-dark d-flex justify-content-end">
      <form class="form-inline">
        <a href="/" class="btn btn-light btn-sm active mr-1" role="button" aria-pressed="true">Main Page</a>
        <a href="/trending" class="btn btn-light btn-sm active mr-1" role="button" aria-pressed="true">Skicker Trending</a>
      </form>
    </nav>
    <div class="display-3 font-weight-bold text-white d-flex justify-content-center">Search by GIPHY</div>
    <div class="container mb-5 text-white d-flex justify-content-center">
        <form action="/search" method="GET">
            <div class="px-2 pt-5 form-group d-flex flex-column">
                <label class="mb-3" for="exampleInputQuery">Search GIF by giphy</label>
                <div class="d-flex flex-row">
                    <input type="text" class="mr-2 mb-2 px-2 py-2" id="query" name="q" placeholder="To search">
                    <button type="submit" class="mb-2 btn btn-primary">Submit</button>
                </div>    
                <small id="search" class="form-text text-muted">Search GIF by giphy</small>
            </div>
        </form>
    </div>
{% endblock %}