{% extends 'layout.html' %}
{% block title %} {{ q }}{% endblock %}
{% block content %}
    <nav class="navbar navbar-light mt-2 bg-dark d-flex justify-content-end">
      <form class="form-inline">
        <a href="/" class="btn btn-light btn-sm active mr-1" role="button" aria-pressed="true">Main Page</a>
        <a href="/trending" class="btn btn-light btn-sm active mr-1" role="button" aria-pressed="true">Skicker Trending</a>
      </form>
    </nav>
    <div class="container bg-dark">
        <div class="my-3 mt-5 text-white d-flex flex-row align-items-baseline">
            <div class=" display-4 font-weight-bold mr-2"> {{ q }} </div> <h4 class="font-weight-bold"> {{ total }} GIFs</h4>
        </div>
        <div class="row">
        {% for url,slug,gif_url in gifs %}
            <div class="col-2 pt-4 mx-1 my-1 card bg-dark text-light">
              <img class="card-img-top" src="{{ url }}" alt="{{ q }}" style="height: 7.5rem; object-fit: cover;">
              <div class="card-body ">
                <h5 class="card-title">{{ q }}</h5>
                <p class="card-text">
                    {% if slug[40]!=None %}
                        {{ slug[:40] }} ...
                    {% else %}
                        {{ slug }}
                    {% endif %}
                    </p>
                <a href="{{ gif_url }}" class="btn btn-primary">Go GIPHY</a>
              </div>
            </div>  
        {% endfor %}
        </div>
    </div>
{% endblock %}