<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-8 offset-2"><h1>Simple Board<hr></h1></div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <form action="/create" method="POST">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <input type="text" name="content" class="form-control" placeholder="Enter Content">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                    <div><hr></div>
                </form>
            </div>
        </div>
        <div class="row mt-3 ml-1">
            <div class="col-8 offset-2"><h2>Record List</h2></div>
        </div>
        <div class="row col-8 offset-2 mt-2">
            <table class="table table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Func</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <th scope="row">
                            {{row[0]}} 
                        </th>
                        <td>
                            {{row[1]}} 
                        </td>
                        <td>
                            {{row[2]}} 
                        </td>
                        <td>
                            <div class="btn-group-sm" role="group">
                                <a class="btn btn-secondary" href="/edit?id={{row[0]}}">Edit Record</a>
                                <a class="btn btn-secondary" href="/delete?id={{row[0]}}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>